@charset "utf-8"

.editor_box
    ul
        padding-left: 16px
        li
            list-style-type: disc
    ol
        padding-left: 16px
        li
            list-style-type: decimal
    strong
        font-weight: bold
    b
        font-weight: bold