@import url("https://fonts.googleapis.com/earlyaccess/notosanstc.css");
section.kv {
  height: 420px;
  margin-bottom: 100px; }
  @media only screen and (max-width: 950px) {
    section.kv {
      margin-bottom: 40px; } }
  @media only screen and (max-width: 750px) {
    section.kv {
      height: auto; } }
  section.kv::after {
    content: "";
    display: block;
    clear: both; }
  section.kv .m_title {
    display: none; }
    @media only screen and (max-width: 750px) {
      section.kv .m_title {
        display: block;
        font-size: 24px;
        font-weight: 500;
        line-height: 34px;
        padding: 40px 20px;
        letter-spacing: 5px; } }
  section.kv .kv_img {
    width: 50%;
    height: 100%;
    float: right;
    margin-left: -4px;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; }
    @media only screen and (max-width: 750px) {
      section.kv .kv_img {
        width: 100%;
        height: 350px;
        margin-left: 0;
        float: none; } }
    @media only screen and (max-width: 420px) {
      section.kv .kv_img {
        height: 238px; } }
  section.kv .main {
    width: 50%;
    height: 100%;
    float: left;
    background-color: #f6f6f6;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 4px solid #58B9D8; }
    @media only screen and (max-width: 750px) {
      section.kv .main {
        width: 100%;
        background-color: #fff;
        border-bottom: 0px solid #58B9D8;
        float: none; } }
    section.kv .main .inner {
      position: absolute;
      width: 520px;
      top: 50%;
      right: 35px;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); }
      @media only screen and (max-width: 1200px) {
        section.kv .main .inner {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          width: 80%; } }
      @media only screen and (max-width: 750px) {
        section.kv .main .inner {
          position: relative;
          top: initial;
          right: initial;
          -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          transform: translate(0, 0);
          padding: 30px 0;
          width: calc(100% - 40px);
          margin: 0 auto;
          border-bottom: 2px solid #58B9D8; } }
      section.kv .main .inner h1 {
        font-size: 32px;
        line-height: 46px;
        font-weight: 500;
        letter-spacing: 4px; }
        @media only screen and (max-width: 750px) {
          section.kv .main .inner h1 {
            display: none; } }
      section.kv .main .inner p {
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 1px; }

section.tool {
  margin-bottom: 20px; }
  section.tool .inner {
    width: 1080px;
    margin: 0 auto; }
    @media only screen and (max-width: 1200px) {
      section.tool .inner {
        width: 730px; } }
    @media only screen and (max-width: 750px) {
      section.tool .inner {
        width: calc(100% - 40px); } }
    section.tool .inner .bread {
      margin-bottom: 40px; }
      section.tool .inner .bread a {
        letter-spacing: 0.2em; }
      section.tool .inner .bread span {
        font-weight: 500;
        letter-spacing: 0.2em; }
    @media only screen and (max-width: 750px) {
      section.tool .inner .tag {
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
        margin-bottom: 40px; } }
    section.tool .inner .tag::after {
      content: "";
      display: block;
      clear: both; }
    section.tool .inner .tag .tag_box {
      float: left; }
      @media only screen and (max-width: 750px) {
        section.tool .inner .tag .tag_box {
          float: none;
          width: 340px;
          margin: 0 auto;
          margin-bottom: 40px; } }
      @media only screen and (max-width: 1200px) {
        section.tool .inner .tag .tag_box a.btn01 {
          padding: 8px 20px; } }
      @media only screen and (max-width: 750px) {
        section.tool .inner .tag .tag_box a.btn01 {
          padding: 8px 50px; }
          section.tool .inner .tag .tag_box a.btn01:nth-child(2n) {
            margin-right: 0; } }
    section.tool .inner .tag .search_box {
      float: right; }
      @media only screen and (max-width: 750px) {
        section.tool .inner .tag .search_box {
          float: none;
          width: 340px;
          margin: 0 auto;
          margin-bottom: 20px; } }
      @media only screen and (max-width: 750px) {
        section.tool .inner .tag .search_box input {
          width: calc(100% - 90px); } }
      section.tool .inner .tag .search_box .search {
        display: inline-block;
        vertical-align: top;
        font-weight: bold;
        padding: 8px 24px;
        border-radius: 2px;
        color: #FFF;
        background-color: rgba(0, 0, 0, 0.8); }
    section.tool .inner .tag .info {
      float: left;
      display: block;
      width: 100%;
      margin-top: 20px;
      opacity: 0.6; }
      @media only screen and (max-width: 750px) {
        section.tool .inner .tag .info {
          float: none;
          width: 340px;
          margin: 0 auto; } }
      section.tool .inner .tag .info p {
        float: left; }
      section.tool .inner .tag .info .total {
        float: right; }

section.list .inner {
  width: 1080px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    section.list .inner {
      width: 730px; } }
  @media only screen and (max-width: 750px) {
    section.list .inner {
      width: calc(100% - 40px);
      max-width: 336px; } }
  section.list .inner .item_box {
    margin-bottom: 60px; }
    section.list .inner .item_box a {
      display: inline-block;
      width: 335px;
      height: 360px;
      vertical-align: top;
      margin-right: 36px;
      margin-bottom: 40px;
      border-radius: 5px;
      overflow: hidden;
      position: relative; }
      section.list .inner .item_box a:nth-child(3n) {
        margin-right: 0; }
      @media only screen and (max-width: 1200px) {
        section.list .inner .item_box a {
          width: 230px;
          height: 100%;
          margin-right: 20px; } }
      @media only screen and (max-width: 750px) {
        section.list .inner .item_box a {
          width: 100%; } }
      @media only screen and (min-width: 751px) {
        section.list .inner .item_box a:hover .info:after {
          opacity: 1; } }
      section.list .inner .item_box a figure {
        width: 100%;
        height: 100%; }
        @media only screen and (max-width: 1200px) {
          section.list .inner .item_box a figure {
            height: 230px; } }
        @media only screen and (max-width: 750px) {
          section.list .inner .item_box a figure {
            width: 100%;
            height: auto; } }
      section.list .inner .item_box a .info {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 20px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        @media only screen and (max-width: 1200px) {
          section.list .inner .item_box a .info {
            position: relative;
            background-color: #fff;
            padding: 20px 0; } }
        section.list .inner .item_box a .info:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 4px;
          background-color: #58B9D8;
          opacity: 0;
          -webkit-transition: .3s;
          -o-transition: .3s;
          transition: .3s; }
        section.list .inner .item_box a .info h4 {
          opacity: 0.4;
          margin-bottom: 15px; }
          @media only screen and (max-width: 1200px) {
            section.list .inner .item_box a .info h4 {
              font-size: 14px; } }
          section.list .inner .item_box a .info h4.hat {
            background-image: url(../images/icon01.svg);
            background-repeat: no-repeat;
            padding-left: 30px; }
        section.list .inner .item_box a .info h3 {
          font-size: 24px;
          font-weight: 500;
          line-height: 34px; }
          @media only screen and (max-width: 750px) {
            section.list .inner .item_box a .info h3 {
              margin-bottom: 10px; } }
        section.list .inner .item_box a .info p {
          display: none;
          margin-top: 10px; }
          @media only screen and (max-width: 1200px) {
            section.list .inner .item_box a .info p {
              display: block !important; } }
        section.list .inner .item_box a .info .cate {
          margin-top: 10px;
          opacity: 0.4; }
