doctype html
html
	head
		include head.pug
		
		//- css
		link(rel="stylesheet" href="css/about.css")

		//- JS

	body
		include header.pug
		
		article
			section.kv
				.m_title 社群協作
				.kv_img(style="background-image: url(images/about_kv.png)")
				.main
					.inner
						h1 社群協作
						p 披荊斬棘的前行者永遠不孤單，因為有群為理想而努力、為夢想而奮進的夥伴，願意彼此扶持、攜手同行，共創未來教育遠景。
			section.about
				.inner
					.bread
						a(href="index.html") 首頁 
						span ｜ 社群協作
					.info_box
						h2 緣起
						.info
							p 2014年—臺灣教育開啟新局，教育部頒布新課綱，教育現場面對未來學校學習樣態，期待領航者指引方向。此時，高中優質化輔助方案推動教師社群、特色課程，為高中教學鋪設前行道路，愛思客教師社群在高優方案及其主持人陳佩英教授支持下應運而生，研創素養導向課程設計，並以工作坊形式推廣至全國；然而，課程領導者是學校發展的舵手，在擘畫未來之際，依然需要攜手同行者，在高優方案支持下，邀請前宜蘭處長簡菲莉一起帶領，北部地區成立水筆仔虛擬高中，繼而鍾蔚起教授在南部籌組紅樹林團隊，南北二個團隊合體為「濕地社群」，為高優前導學校設想推動課綱種種困境的解決良策。至此，無論行政領導、課程規劃，高中各校都有支持團隊，因為濕地社群、愛思客教師社群永遠都是大家最好的社群夥伴！
					.slide_box.slide_box01
						.slide_area
							.item_box
								.item.active
									img(src="images/about_img01.png", alt="")
								.item
									img(src="images/about_img01.png", alt="")
								.item
									img(src="images/about_img01.png", alt="")
								.item
									img(src="images/about_img01.png", alt="")
							.dot_box
								.dot.active
								.dot
								.dot
								.dot
					.info_box
						h2 濕地教師社群 
						.info.m
							p 濕地社群由南、北兩地跨校師長組成，分別為紅樹林教師社群與水筆仔教師社群(以下簡稱紅樹林與水筆仔)；水筆仔成立於106年2月，組織成員包括前導、高優學校校長及各處室主任。其目的在於研發課綱課務推動的工具，提供前導、高優學校學習與使用，以解決課綱執行問題。由於水筆仔教師社群的運作成果有目共睹，促使南區也跟進，成立紅樹林教師社群。紅樹林的成立對於南區來說意義非凡，作為南區第一個課推專業團隊的成立，藉由團隊力量成為南區課綱推進的新樞紐，具有網絡行動集結的象徵性意義。過程中，透過不斷的「盤撋」(puânn‑nuá)讓紅樹林的根延展成形，如同紅樹林的生命韌性，造就多樣性生態，生生不息。
							p 上述教師社群的成員共通點為成員組成皆來自不同類型高中、不同處室的師長，在面對問題時能更全面的考慮各種可能的策略，而新課綱正式啟航後，全國各校對於課綱素養課程規劃的方向與工具需求再次提升，於是水筆仔與紅樹林經由共識討論後，串聯與重組「濕地社群」，共同規劃與發展學校行政與教學所需之工具與表單。社群成員輪番擔任工作坊講師，策劃前導學校例會、工作坊與高優工作坊，幫助學校盤整、規劃、設計、執行與檢視課推與課發工作。濕地社群儼然成為前導學校、高優計畫的智囊團，實為計畫運作不可或缺之關鍵支持力量。
						.more +MORE
					.slide_box.slide_box02
						.slide_area
							.item_box
								.item.active
									img(src="images/about_img02.png", alt="")
								.item
									img(src="images/about_img02.png", alt="")
								.item
									img(src="images/about_img02.png", alt="")
								.item
									img(src="images/about_img02.png", alt="")
							.dot_box
								.dot.active
								.dot
								.dot
								.dot
					.info_box
						h2 愛思客（ASK）教師社群
						.info.m
							p 素養導向與跨領域的課程與教學，為目前教育發展的趨勢，「十二年國民基本教育課程綱要前導學校輔導工作計畫」團隊為協助各高中得以有效掌握素養導向課程的設計與發展，由國立臺灣師範大學陳佩英教授於2016年12月邀請公私立高中教師加入愛思客教師社群；透過不斷閱讀、持續增能，集眾人智慧研發跨領域素養導向課程概念與方法，並轉化成工作坊工具與流程，與各地區老師交流和共學；同時於2017年開創有效支持成人學習的夥伴協作機制，工作坊進行分組討論時每組都會安排協作員，當天值日生稱為協作講師，這是教育現場最早使用「協作」以促進同儕協力合作與互惠互信的做法。此後，陸續分別於2018、2022年招募、培訓區域素養種子，迄今已進入第三屆區域素養種子培訓。三屆種子的加入，擴充了教師動能的實力，愛思客教師社群在各地播種，素養導向課程與教學可以期待在全國遍地開花與結果。
							p 團隊成立至今成員雖因任務需求而有所變動，但不變的是各校教學經驗豐富以及極具素養動能的師長集結於此，兼具跨校、跨學科的社群性質，藉由課程的設計研發與共創，不斷翻新增能課程的內容與方法，能提供現場教師在教學上的活化與增能，接續護持兼備傳承與創新的薪火，在新課綱精神和時代感召下，策進未來。
						.more +MORE
		include footer.pug
					
		script(src="js/about.js" type="text/javascript")