doctype html
html
	head
		include head.pug
		
		//- css
		link(rel="stylesheet" href="css/fifteen.css")

		//- JS

	body
		include header.pug
		
		article
			section.kv
				.m_title 高優十五
				.kv_img(style="background-image: url(images/fifteen_kv.png)")
				.main
					.inner
						h1 高優十五
						p 「航向藍海」透過手中的課程藏寶圖，引領著大家以實體與影片的方式體驗各高中所發展出多元豐富的優質課程，讓大家瞭解新課綱各高中所發展出的課程新風貌。
			section.slide
				.inner
					.bread
						a(href="index.html") 首頁 
						span ｜ 高優十五
					.tag
						a.btn01.active(href="fifteen.html") 攜手同行
						a.btn01(href="fifteen.html") 蛹化創新
						a.btn01(href="fifteen.html") 策進未來
					.slide_box
						h2 攜手同行
						p 說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說，明文字說明文字說明文字說，明文字說明文字說。明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文，字說明文字說明文字說明文字。
						.slide_area
							.item_box
								.item.yt.active
									.yt_img.active
										.play
										.black
										figure
											img(src="images/slide_img.png", alt="")
									.yt_yt(yt="https://www.youtube.com/embed/iOPK9bditdg")
										iframe(src="" frameborder="0" allowfullscreen)
								.item
									img(src="images/slide_img.png", alt="")
								.item
									img(src="images/slide_img.png", alt="")
								.item
									img(src="images/slide_img.png", alt="")
							.dot_box
								.dot.active
								.dot
								.dot
								.dot
						span 圖片/影片說明文字圖片/影片說明文字圖片/影片說明文字圖片/影片說明文字圖片/影片說明文字圖片/影片說明文字圖片/影片說明文字
			section.editor
				.inner
					.editor_box
						h1 H1標題文字H1標題文字
						p 說明文字說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字。
						h2 H2標題文字
						p 說明文字說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字。
						h3 H3標題文字
						p 說明文字說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字。

						.img_box01
							img(src="images/ed_img01.png", alt="")
							figurecaption 圖片說明文字圖片說明文字圖片說明文字
						.img_box02
							.img
								img(src="images/ed_img02.png", alt="")
								figurecaption 圖片說明文字圖片說明文字圖片說明文字
							.img
								img(src="images/ed_img02.png", alt="")
								figurecaption 圖片說明文字圖片說明文字圖片說明文字
						.yt_box
							iframe(src="https://www.youtube.com/embed/iOPK9bditdg" frameborder="0" allowfullscreen)
							figurecaption 圖片說明文字圖片說明文字圖片說明文字
					.float
						a(href="") #關鍵字
						a(href="") #關鍵字關鍵字
						a(href="") #關鍵關鍵字
						a(href="") #關鍵字字
						a(href="") #關鍵字關鍵
						a(href="") #關鍵字 
					.links
						a.active(href="fifteen.html") 攜手同行
						a(href="fifteen.html") 蛹化創新
						a(href="fifteen.html") 策進未來


		include footer.pug
					
		script(src="js/fifteen.js" type="text/javascript")