header
	a.logo(href="index.html")
		img(src="images/logo.svg", alt="教育部高中優質化輔助方案")
	.ham
	nav
		ul
			li.l01
				span 高優十五
				.sub 
					a(href="fifteen.html") 攜手同行
					a(href="fifteen.html") 蛹化創新
					a(href="fifteen.html") 策進未來
			li.l01
				span 高優現場
				.sub 
					a(href="site_list.html") 教育話題
					a(href="site_list.html") 課程體驗
					a(href="site_list.html") 觀課議課
			li
				a(href="lecture_list.html") 高優講堂
			li
				a(href="course_list.html") 高優課程
			li
				a(href="school_list.html") 高優學校
			li
				a(href="about.html") 社群協作
		.lang
			a(href="") CH
			a(href="") EN