doctype html
html
	head
		include head.pug
		
		//- css
		link(rel="stylesheet" href="css/index.css")

		//- JS
		script(src="js/slick.min.js" type="text/javascript")

	body
		include header.pug
		
		article
			section.kv
				.video
					video(playsinline muted autoplay id="vid")
						source(src="video/video.ogv" type="video/ogv")
						source(src="video/video.mp4" type="video/mp4")
						source(src="video/video.webm" type="video/webm")
				.gif_box
					.item
						.img(style="background-image: url(images/index_kv.png)")
					.item
						.img(style="background-image: url(images/index_kv.png)")
					.item
						.img(style="background-image: url(images/index_kv.png)")
					.item
						.img(style="background-image: url(images/index_kv.png)")
				a.more(href="fifteen.html") 觀看更多 
			section.site
				.inner
					.title
						figure.ticon
							img(src="images/ticon01.svg", alt="")
						h2 高優現場
						p 「航向藍海」透過手中的課程藏寶圖，引領著大家以實體與影片的方式體驗各高中所發展出多元豐富的優質課程，讓大家瞭解新課綱各高中所發展出的課程新風貌。
					.main
						.tag
							span.btn01.active 教育話題
							span.btn01 課程體驗
							span.btn01 觀課議課
							a.more(href="site_list.html") + MORE
						.item_box
							.item1.active
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4 2022.04.30
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4.hat 國立台灣師範大學附屬高級中學
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
										.cate 增廣/充實選修課程
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4 2022.04.30
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4.hat 國立台灣師範大學附屬高級中學
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
										.cate 增廣/充實選修課程
							.item2
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4 2022.04.30
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4.hat 國立台灣師範大學附屬高級中學
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
										.cate 增廣/充實選修課程
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4 2022.04.30
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4.hat 國立台灣師範大學附屬高級中學
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
										.cate 增廣/充實選修課程
							.item3
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4 2022.04.30
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4.hat 國立台灣師範大學附屬高級中學
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
										.cate 增廣/充實選修課程
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4 2022.04.30
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								a(href="site.html")
									figure
										img(src="images/site_img01.png", alt="")
									.info
										h4.hat 國立台灣師範大學附屬高級中學
										h3 面向未來學習的學校設計
										p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
										.cate 增廣/充實選修課程
						a.m_more(href="site_list.html") 點我看更多

			section.lecture
				.inner
					.title
						figure.ticon
							img(src="images/ticon02.svg", alt="")
						h2 高優講堂
						p 研博會論壇說明，一段內文，字數控制在兩行內，研博會論壇說明，一段內文，字數控制在兩行內，研博會論壇說明，一段內文，字數控制在兩行內。
					.main 
						.tag
							a.more(href="lecture_list.html") + MORE
						.top2
							a(href="lecture.html")
								figure
									img(src="images/lecture_img01.png", alt="")
								.info
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
									.teacher
										.cate 專題講座
										span 林國楨教授
									p.school 臺北市陽明高中、桃園市壽山高中、臺中淸水高中高雄市高雄女中、國立花蓮高中代表
									p.detail 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高察覺生活材質的差異，本單元為讓學生提高察覺生活材質的差異，本...
							a(href="lecture.html")
								figure
									img(src="images/lecture_img01.png", alt="")
								.info
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
									.teacher
										.cate 專題講座
										span 林國楨教授
									p.school 臺北市陽明高中、桃園市壽山高中、臺中淸水高中高雄市高雄女中、國立花蓮高中代表
									p.detail 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高察覺生活材質的差異，本單元為讓學生提高察覺生活材質的差異，本...
						.list
							.item
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
							.item
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
							.item
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
							.item
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
								a(href="lecture.html")
									.cate 標籤標籤
									.row
										.date 2022.12.22
										.place 台北市
									h3 面向未來學習的學校設計
						a.m_more(href="lecture_list.html") 點我看更多

			section.course
				.inner
					.title
						figure.ticon
							img(src="images/ticon03.svg", alt="")
						h2 高優課程
						p 高優課程說明，一段內文，字數控制在兩行內，研博會論壇說明，一段內文，字數控制在兩行內，研博會論壇說明，一段內文，字數控制在兩行內。
					.main 
						.tag
							a.more(href="course_list.html") + MORE
						.list
							a(href="course.html")
								figure
									img(src="images/site_img01.png", alt="")
								.info
									.medal
									h4.hat 國立台灣師範大學附屬高級中學
									h3 面向未來學習的學校設計
									p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
									.cate SDGs與全球公民素養
										|
										span ｜增廣/充實選修課程
							a(href="course.html")
								figure
									img(src="images/site_img01.png", alt="")
								.info
									.medal
									h4.hat 國立台灣師範大學附屬高級中學
									h3 面向未來學習的學校設計
									p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
									.cate SDGs與全球公民素養
										|
										span ｜增廣/充實選修課程
							a(href="course.html")
								figure
									img(src="images/site_img01.png", alt="")
								.info
									.medal
									h4.hat 國立台灣師範大學附屬高級中學
									h3 面向未來學習的學校設計
									p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
									.cate SDGs與全球公民素養
										|
										span ｜增廣/充實選修課程
							a(href="course.html")
								figure
									img(src="images/site_img01.png", alt="")
								.info
									.medal
									h4.hat 國立台灣師範大學附屬高級中學
									h3 面向未來學習的學校設計
									p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
									.cate SDGs與全球公民素養
										|
										span ｜增廣/充實選修課程
							a(href="course.html")
								figure
									img(src="images/site_img01.png", alt="")
								.info
									.medal
									h4.hat 國立台灣師範大學附屬高級中學
									h3 面向未來學習的學校設計
									p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
									.cate SDGs與全球公民素養
										|
										span ｜增廣/充實選修課程
							a(href="course.html")
								figure
									img(src="images/site_img01.png", alt="")
								.info
									.medal
									h4.hat 國立台灣師範大學附屬高級中學
									h3 面向未來學習的學校設計
									p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
									.cate SDGs與全球公民素養
										|
										span ｜增廣/充實選修課程
						a.m_more(href="course_list.html") 點我看更多

		include footer.pug
					
		script(src="js/index.js" type="text/javascript")