doctype html
html
	head
		include head.pug
		
		//- css
		link(rel="stylesheet" href="css/school.css")

		//- JS
		script(src="js/slick.min.js" type="text/javascript")
	body
		include header.pug
		
		article
			section.slide
				.inner
					.bread
						a(href="index.html") 首頁 
						span ｜高優課程
					.slide_box
						h2 講堂名稱
						p 說明文字說明文字說明文字說明文字，說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說，明文字說明文字說明文字說，明文字說明文字說。明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文，字說明文字說明文字說明文字。
						.info_area
							figure
								img(src="images/school.png", alt="")
							h3 國立台灣師範大學附屬高級中學
							p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高察覺生活材質的差異，我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高察覺生活材質的差異。
							.info2 
								.address 106台北市大安區信義路三段143號
								a.phone(href="tel:+886-2-2707-5215" target="_blank") 02-2707-5215
								a.site(href="" target="_blank") 官方網站 
						.slide_area
							.item_box
								.item.active
									img(src="images/school_img.png", alt="")
								.item
									img(src="images/school_img.png", alt="")
								.item
									img(src="images/school_img.png", alt="")
								.item
									img(src="images/school_img.png", alt="")
							.dot_box
								.dot.active
								.dot
								.dot
								.dot
					.award
						p 2022 / 4 需要加字表達獲獎等經歷可斷行
						p 2022 / 5 需要加字表達獲獎等經歷
						p 2022 / 6 需要加字表達獲獎等
			section.site
				.inner
					h2 相關課程
					.item_box
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate SDGs與全球公民素養
									|
									span 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate SDGs與全球公民素養
									|
									span 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate SDGs與全球公民素養
									|
									span 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate SDGs與全球公民素養
									|
									span 增廣/充實選修課程
					.page_box
						a.prev(href="school_list.html") 回高優學校

		include footer.pug
					
		script(src="js/school.js" type="text/javascript")