doctype html
html
	head
		include head.pug
		
		//- css
		link(rel="stylesheet" href="css/site_list.css")

		//- JS

	body
		include header.pug
		
		article
			section.kv
				.m_title 高優現場
				.kv_img(style="background-image: url(images/site_kv.png)")
				.main
					.inner
						h1 高優現場
						p 「航向藍海」透過手中的課程藏寶圖，引領著大家以實體與影片的方式體驗各高中所發展出多元豐富的優質課程，讓大家瞭解新課綱各高中所發展出的課程新風貌。
			section.tool
				.inner
					.bread
						a(href="index.html") 首頁 
						span ｜ 高優現場
					.tag
						.tag_box
							a.btn01.active(href="fifteen.html") 全部訊息
							a.btn01(href="fifteen.html") 教育話題
							a.btn01(href="fifteen.html") 課程體驗
							a.btn01(href="fifteen.html") 觀課議課
						.search_box
							input(type="text" placeholder="請輸入關鍵字")
							a.search(href="") 搜尋
						.info
							p 標籤：＃關鍵字 或 搜尋結果：關鍵字
							.total 共 12 則
			section.list
				.inner
					.item_box
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4 2022.04.30
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4 2022.04.30
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4 2022.04.30
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4 2022.04.30
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4 2022.04.30
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate 增廣/充實選修課程
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4 2022.04.30
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
						a(href="site.html")
							figure
								img(src="images/site_img01.png", alt="")
							.info
								h4.hat 國立台灣師範大學附屬高級中學
								h3 面向未來學習的學校設計1
								p 我們生活在城市都會之中，生活周遭就藏匿著許多可以探究的美感要素，本單元為讓學生提高...
								.cate 增廣/充實選修課程
					.page_box
						a.prev(href="") 
						a(href="") 1
						a(href="") 2
						span 3
						a(href="") 4
						a(href="") 5
						a.next(href="") 
		include footer.pug
					
		script(src="js/site_list.js" type="text/javascript")